

/* 內容樣式 */
.content {
    flex: 1; /* 確保內容區域填滿剩餘空間 */
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.main-content{
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.title{
    text-align: center;
    color: #000000;
    font-size: 4rem;
    font-weight: 600;
}

form {
    background-color: #ffffff;
    justify-content:center;
    align-items: center;
    border-radius: 5px;
    padding: 0.6rem 0;
    gap: 10px;
}

.big-container{
    display: flex;
}

/*左邊*/


label{
    font-size: 25px;
    font-weight: 600;
    margin-right: 10px;
    margin-bottom: 0px;
}


.text{
    display: flex;
}

/*文字區*/
textarea{
    border: 1px solid#FFC619;
    border-radius: 5px;
    resize: none;
    
}

textarea::placeholder{
    color: #D9D9D9;
    font-size: 25px;
}

textarea:focus{
    outline: none !important;
    border: 1px solid#FFC619;
}


textarea::-webkit-scrollbar {
    width: 7px;
    
}

textarea::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-radius: 25px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #FFC619;
    border-radius: 25px;
}

#textareal{
    resize: none;
    font-size: 25px;
}

/*滑桿*/



.rating{
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 10px;
    padding: 20px 0 40px 0;
    width: 30rem;
}

.slider {
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
    width: inherit;
    height: 10px;
    background: #333;
    border-radius: 5px;
    outline: none;
    transition: background .15s ease-in-out;
    position: relative;

}

.slider:hover {
    opacity: 1;
}

.slider-title{
    color: #352F36;
    font-size: 1.75rem;
    font-weight: 500;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #BC4B51;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #FFC619;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.slider-labels {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    pointer-events: none;
}

.slider-label {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D9D9D9;
    background-color: #D9D9D9;
    font-size: 12px;
    position: relative;
    z-index: 2;
    transition: background .15s ease-in-out, color .15s ease-in-out;
}


.slider-label.active {
    background: #FFC619;
    color: #fff;
}


.value {
    padding-left: 20px;
    font-size: 1.2em;
    color: #333;
}

/*分界*/
.divider{
    margin: 70px 10px;
    border: 1px solid #D9D9D9;
}

/*右邊*/
.choosePic{
    background: #BC4B51;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 300;
    padding: 5px;
}

.choosePic:hover{
    background: #a5454a;
}

.pic-upload{
    overflow-y: scroll;
    width: 315px;
    height: 380px;
}

.pic-upload::-webkit-scrollbar {
    width: 7px;
    
}

.pic-upload::-webkit-scrollbar-track {
    background-color: #D9D9D9;
    border-radius: 25px;
}

.pic-upload::-webkit-scrollbar-thumb {
    background-color: #FFC619;
    border-radius: 25px;
}

.pic{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 300px;
    background-color: #D9D9D9;
    margin-bottom: 10px;
}

.pic img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center ;
}





/*control Part*/
.control-group{
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit{
    background-color: #BC4B51;
    font-size: 16px;
    border: none;
    border-radius: 22px;
    color: #fff;
    padding: 10px 55px;
    margin: 5px;
    top: 0;
}

.submit:hover{
    background-color: #a5454a;
}

.submit:focus{
    outline: 0 !important;
}

.reset{
    background-color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 22px;
    padding: 10px 55px;
    margin: 5px;
}

.reset:hover{
    background-color: #D9D9D9;
}

.reset:focus{
    outline: 0 !important;
}

.reset:hover{
    background-color: #D9D9D9;
}



/* 頁尾樣式 */
footer {
    height: 25vh;
    background-color: #FFC619;
    color: #fff;
}
