/* 左區塊 */
.left {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reglogPic {
    display: flex;
    height: 90vh;
    background-color: #FFC619;
    align-items: center;
}

.left .maintitle{
    font-size: 9vh;
    margin-bottom: -5px;
}

.left .subtitle {
    font-size: 25px;
}

/* 右區塊 */
.right {
    display: flex;
    height: 100vh;
    align-items: center;
    position: relative; /* 新增這行，讓絕對定位的線能夠正確顯示 */
}

.vertical-line {
    position: absolute;
    left: 0;
    top: 30vh;
    bottom: 20vh;
    width: 1px; /* 線的寬度 */
    background-color: black; /* 線的顏色 */
}

.content {
    text-align: left;
}

.right .maintitle {
    font-weight: 700;
    font-size: 9vh;
    margin-bottom: -5px;
}

input {
    border: 2px solid black;
}

.right .btn {
    color: white;
    background-color:#BC4B51;
    border-radius: 20px;
}

/* 連結樣式 */
.right a {
    color: #000000;
    text-decoration: none;
}

.right a:hover {
    text-decoration: underline;
}
