

/* 內容樣式 */
.content {
    flex: 1; /* 確保內容區域填滿剩餘空間 */
    display: flex;
    justify-content: center;
}

.main-content{
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.title{
    text-align: center;
    color: #ffffff;
    font-size: 5rem;
    font-weight: 600;
}

form {
    background-color: #ffffff;
    justify-content:center;
    align-items: center;
    border-radius: 5px;
    padding: 0.6rem 0;
    gap: 10px;
}



.search{
    display: flex;
    justify-items: center;
    padding: 0;
}

/*篩選部分*/
.select{
    display: flex;
    
    justify-content: center;
}

.select-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.select-btn, .options li {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.select-btn {
    padding:  10px 40px 10px 10px;
    border-radius: 7px;
    cursor: pointer;
    justify-content: space-between;
    color: #BDBDBD;
}


.select-btn .filter {
    display: flex;
    padding: 0 20px 0 0;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.select-btn .polygon{
    display: flex;
    padding-left:50px;
    width: 50px;
    height: 20px;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.select-content {
    display: none;
    position: absolute;
    left: 0;
    top: 50px;
    width: 200px;
    background-color: #ffffff;
    transition: display 0.3s ease;
    border-radius: 7px;
    padding: 0 10px;
}

.select-content.show {
    display: block;
}

.select-option hr{ 
    margin: 0.5rem 0;
}

.select-btn i {
    transition: transform 0.2s linear;
}

hr{
    padding-bottom: 5px;
}

/*細部篩選Part*/
.base-container{
    border: 1px solid #BDBDBD;
    border-radius: 10px;
    padding: 3px;
    margin: 5px 0;
}

.filter-btn{
    padding:  5px;
    width: 100%;
    text-align: left;
    border: none;
    cursor: pointer;
    justify-content: space-between;
    color: black;
    background-color: #fff;
}

.filter-btn:focus{
    outline: none;
}

.arror-right{
    color:#b9b9b9;
    padding-left: 10px;
    padding-right: 5px;
}

.collapse{
    padding: 0 5px;
}



.options-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
}

.options-container a{
    margin-left: 20px;
}

.options-container label {
    margin-left: 5px;
    flex: 1;
    cursor: pointer; /* 确保标签可点击 */
}

.options-container span {
    margin-right: 20px;
    display: none; /* 初始隐藏 */
}

.options-container input:checked + span {
    display: inline; /* 当输入被选中时显示 */
}

.options-container input {
    display: none;
}

.option-pic{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}


/*分隔條*/
.divider{
    border: 1px solid #BDBDBD;
    margin: 0 5px;
    
}

/*搜尋條部分*/
.search-bar{
    width: 20rem;
    border: none    ;
}

.search-bar::placeholder{
    color: #b9b9b9;
}

.search input:focus{
    outline: none;
}

/*送出*/
.submit{
    color: #ffffff;
    border: none;
    background-color: #BC4B51;
    margin-left: 10px;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
}

