body {
    margin: 0;
    font-family: "Noto Sans TC", sans-serif;
}

/* 導覽列樣式 */
.navBar {
    display: flex;
    align-items: center;
    background-color: #FFC619;
    padding: 33px 5%;
    width: 100%;
    height: 120px;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 1000; /* 確保導航欄在最上層 */
}

.bergerMenu-placeholder {
    display: flex;
    align-items: center;
}

.logo-placeholder {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 50%;
    transform: translateX(-50%);
}

.logo {
    position: absolute;
    width: 100%;
    height: 100%;
}

.button-placeholder {
    display: flex;
    position: relative;
    width: 284px;
    height: 100%;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}

.logIn-btn, .signUp-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 28px;
    color: #ffffff;
    position: relative;
    overflow: hidden;
}

.logIn-btn::after, .signUp-btn::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    height: 150%;
    background-image: url('./NavBar_image/logo.png');
    background-size: cover;
    background-position: center;
    transition: transform 0.3s;
    transform: translate(-50%, -50%) scale(0);
}

.logIn-btn:hover::after, .signUp-btn:hover::after {
    transform: translate(-50%, -50%) scale(1);
}

.signUp-btn {
    background-color: #BC4B51;
    border-radius: 5px;
}

/* 側欄 */
.sidebar-placeholder {
    position: absolute;
    width: 250px;
    height: 100%;
    left: -250px;
    transition: left 0.3s ease;
}

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: calc(100% - 120px);
    align-items: center;
    top: 120px;
    padding: 20px;
    box-sizing: border-box;
    color: white;
    background-color: #BC4B51;
}

.bergerMenu-placeholder:hover .sidebar-placeholder {
    left: 0;
}

.header {
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;
}

.profile {
    text-align: center;
    margin-bottom: 40px;
}

.profile-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.user-id {
    font-size: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    color: #D9777C;
}

.menu-item:hover {
    background-color: #D9777C;
}

.icon {
    width: 32px;
    height: 32px;
}

.menu-text {
    font-size: 20px;
}

.main-content {
    margin-top: 150px; /* 確保內容不被導航欄遮住 */
}

.title {
    text-align: center;
}

.main-content .main-title {
    font-size: 10vh;
    font-weight: 700;
    margin-bottom: 0;
}

.main-content .sub-title {
    font-size: 3vh;
    font-weight: 700;
    margin-bottom: 0;
}

/* 表單樣式 */
.q-title {
    text-align: center;
}

.q-title .front {
    font-size: 6rem;
    color: black;
}

.q-title .back {
    font-size: 2rem;
    color: black;
}

.q-title p {
    font-size: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form .form-group {
    width: 100%;
    max-width: 400px;
}

/* Q2 Part */
.ratio-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.ratio-group .ratio-option {
    flex: 1;
    display: flex;
    justify-content: center;
}

.ratio-group .ratio {
    display: none;
}

.bt {
    padding: 15px 10px;
    width: 100%;
    margin: 5px;
    background-color: #FFFFFF;
    color: #000000;
    text-align: left;
    border: 2px solid #D9D9D9;
    border-radius: 7px;
    transition: background-color 0.3s, color 0.3s;
}

.bt:hover {
    background-color: #D9D9D9;
    color: #000000;
}

#male:checked ~ .male,
#female:checked ~ .female {
    background-color: #FFC619;
    color: #000000;
    border: none;
}

.bt .tag {
    font-size: 0.9rem;
    color: #000000;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px 10px;
}

.cc {
    padding-left: 10px;
}

/* Q4 Part */
.ratio-line {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ratio-line .ratio {
    display: none;
}

.ratio-line .ratio-option {
    display: flex;
    padding: 10px;
}

.ratio-line .line-tag {
    text-align: center;
    font-size: 1.5rem;
    padding-left: 10px;
}

.ratio-line .a1,
.ratio-line .a5 {
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.ratio-line .a2,
.ratio-line .a4 {
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.ratio-line .a3 {
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.ratio-line .b1,
.ratio-line .b5 {
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.ratio-line .b2,
.ratio-line .b4 {
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.ratio-line .b3 {
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#b1:checked ~ .b1,
#b2:checked ~ .b2,
#b3:checked ~ .b3,
#b4:checked ~ .b4,
#b5:checked ~ .b5 {
    background-color: #FFC619;
    color: #000000;
    border: none;
}

#a1:checked ~ .a1,
#a2:checked ~ .a2,
#a3:checked ~ .a3,
#a4:checked ~ .a4,
#a5:checked ~ .a5 {
    background-color: #FFC619;
    color: #000000;
    border: none;
}

/* Q5 Part */
.select-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.select-btn, .options li {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.select-btn {
    padding: 15px 10px;
    border-radius: 7px;
}
