@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

body {
    margin: 0;
    font-family: "Noto Sans TC", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh; /* 設置整個頁面的高度 */
    background-color: #FFC619 !important;
}

/* 導覽列樣式 */
.navBar {
    display: flex;
    align-items: center;
    background-color: #FFC619;
    padding: 33px 5%;
    width: 100%;
    height: 120px;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 1000; /* 確保導航欄在最上層 */
}

/* 漢堡選單 */
.bergerMenu-placeholder {
    display: flex;
    align-items: center;
}

/* LOGO */
.logo-placeholder {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 50%;
    transform: translateX(-50%);
}

.logo {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* 使用者資料 */
.User-placeholder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    width: 100%;
}

.hello-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    color: #ffffff;
    font-size: 20px;
    margin-right: 20px; /* 調整文字與照片間距 */
}

.photo-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.user-photo {
    background: #d9d9d9;
    border-radius: 50%;
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    position: relative;
}

/* 懸浮視窗 */
.hover-windows-placeholder {
    display: none;
    position: absolute;
    width: 300px;
    top: 100%; /* 視窗顯示在 photo-placeholder 下方 */
    padding-top: 5px;
    right: 0; /* 切齊使用者大頭貼 */
    /* background-color: rgb(71, 88, 88); */
}

.hover-windows {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #BC4B51;
    padding: 20px;
    gap: 20px;
    border-radius: 5px;
}

.photo-placeholder:hover .hover-windows-placeholder {
    display: block;
}

.windows-placeholder {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.windows-placeholder a{
    color: #ffffff;
}

.windows-placeholder a:hover, a:visited, a:link, a:active {
    color: #ffffff;
    text-decoration: none;
}

.windows-line {
    display: flex;
    width: 90%;
    height: 1px;
    background-color: #D9777C; /* 線條顏色 */
    margin: 10px 5%; /* 線條上下間距 */
}

.setting, .log-out {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    padding: 15px;
}

.setting:hover, .log-out:hover {
    background-color: #D9777C;
}

.setting-icon, .log-out-icon {
    width: 28px; 
    height: 28px; 
}

.setting-text, .log-out-text {
    display: flex;
    font-size: 20px;
    justify-content: center; /* 水平置中 */
}

.button-placeholder {
    display: flex;
    position: relative;
    width: 284px;
    height: 100%;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}

.button-placeholder a{
    color: #ffffff;
}

.button-placeholder a:hover, a:visited, a:link, a:active {
    color: #ffffff;
    text-decoration: none;
}

.logIn-btn, .signUp-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: #ffffff;
    position: relative;
    overflow: hidden;
}

.logIn-btn::after, .signUp-btn::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    height: 150%;
    background-image: url('./NavBar_image/logo.png');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    transition: transform 0.3s;
    transform: translate(-50%, -50%) scale(0);
}

.logIn-btn:hover::after, .signUp-btn:hover::after {
    transform: translate(-50%, -50%) scale(1);
}

.signUp-btn {
    background-color: #BC4B51;
    border-radius: 5px;
}

/* 側欄 */
.sidebar-placeholder {
    position: absolute;
    width: 250px;
    height: 100%;
    left: -250px;
    transition: left 0.3s ease;
}

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: calc(100% - 120px);
    align-items: center;
    top: 120px;
    padding: 20px;
    box-sizing: border-box;
    color: white;
    background-color: #BC4B51;
}

.sidebar a{
    color: #ffffff;
}

.sidebar a:hover, a:visited, a:link, a:active {
    color: #ffffff;
    text-decoration: none;
}

.bergerMenu-placeholder:hover .sidebar-placeholder {
    left: 0;
}

.header {
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;
}

.profile {
    text-align: center;
    margin-bottom: 40px;
}

.profile-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.user-id {
    font-size: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    color: #D9777C;
}

.menu-item:hover {
    background-color: #D9777C;
}

.icon {
    width: 32px;
    height: 32px;
}

.menu-text {
    font-size: 20px;
}



