/* 內容樣式 */
.content {
    flex: 1; /* 確保內容區域填滿剩餘空間 */
    display: flex;
    justify-content: center;
}



.main-content{
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 250px;
    padding-left: 30px;
    
}

.title{
    text-align: left;
    color: #000000;
    font-size: 3rem;    
    font-weight: 500;
    margin-bottom: 30px;
}

.profile-icon-title{
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 5px;
}

.profile-f {
    text-align: left;
    margin-bottom: 40px;
}

.profile-f-icon{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.change{
    padding: 2px 10px;
    margin-left: 10px;
    border: none;
    background-color: #BC4B51;
    color: #fff ;
    border-radius: 13px;
}

.change:hover{
    background-color: #FFC619;
}

.fgroup {
    display: flex;
    padding: 0;
}

.fgroup input{
    width: 450px;
}

.reset{
    background-color: #fff;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 22px;
    padding: 5px 20px;
    margin-top: 20px;
}

.reset:hover{
    background-color: #D9D9D9;
}   